<% provide(:title, 'Home') %>
Logged in: <%= logged_in? %><br>

<% if current_customer %>
  Current customer name: <%= current_customer.name %><br>
  Current customer email: <%= current_customer.email %><br>
<% end %>

<h1>FuneralCat Home</h1>
<p>Cat funeral app.</p>
